.contenupopup {
  width: 300px;
  padding: 20px;
  text-align: center;
}

.contenupopup li {
  width: 300px;
  padding: 20px;
  text-align: center;
}


/*Toggle pour mettre en gras*/
.switch {
  position: relative;
  display: inline-block;
  width: fit-content; 
  margin-left: auto; 
  margin-top: 20px; 
}


.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: fixed;
  cursor: pointer;
  top: 10%;
  right: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 20px;
  background-color: #ccc; /* Couleur de fond pour le toggle */
  border-radius: 20px; /* Pour un aspect arrondi */
  transition: background-color 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

