.contenupopup {
  height: auto;
  width: 85vw;
  margin: 2vw;
  text-align: center;
  cursor: default;
}

body{
  background-color: black;
}

button {
  border-radius: 2rem;
  border: 2px solid #0d0d0e;
  padding: 2% 4%;
  cursor: pointer;
  font-size: medium;
  font-weight: 600;
  background: linear-gradient(#CAF0F8, #90E0EF, #00B4D8);
}

#zoom_container{
  padding: 4%;
  display: flex;
  gap: 8%;

}

#zoomin{
  display: flex;
  cursor: zoom-in;
}

#zoomout{
  align-content: center;
  cursor: zoom-out;

}

#bold_container, #cursor_container{
  display: flex;
  padding: 4%;
}

#zoom_container, #color_container, #textToSpeech, #bold_container, #cursor_container{
  border: 2px solid #2196F3;
  border-radius: 5px;
  background-color:aliceblue;
  padding: 4%;
  justify-content: center;
  align-items: center;
  font-size:medium;
  font-weight:500;
}
#background, #text {
  cursor: cell;
}

#lecture {
  cursor :url("icons8-voix-25.png"),auto;
}
#stop {
  cursor :url("icons8-silence-25.png"),auto;
}

/*Toggle pour mettre en gras*/
.switch {
  position: relative;
  display: inline-block;
  width: fit-content; 
  margin-left: 20vw; 
  margin-top: 20px; 
}


.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 10%;
  right: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 20px;
  background-color: #ccc; /* Couleur de fond pour le toggle */
  border-radius: 20px; /* Pour un aspect arrondi */
  transition: background-color 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/*Toggle pour changer le cursor*/
.switch2 {
  position: relative;
  display: inline-block;
  width: fit-content; 
  margin-left: 20vw; 
  margin-top: 20px; 
}


.switch2 input { 
  opacity: 0;
  width: 0;
  height: 0;
}



