.contenupopup {
  height: auto;
  width: 90vw;
  margin: 2vw;
  text-align: center;
  /*overflow-y: scroll; /* use hidden to hide the scrollbar */
}

body{
  background-color: black;
  border-radius: 20px;
  overflow:scroll;
}



#zoom_container{
  padding: 4%;
  display: flex;
  gap: 8%;

}

#zoomin{
  display: flex;
}

#zoomout{
  align-content: center;

}

#bold_container, #cursor_container{
  display: flex;
  padding: 4%;
}

#zoom_container, #color_container, #textToSpeech, #bold_container, #cursor_container{
  border: 2px solid #2196F3;
  border-radius: 5px;
  background-color:aliceblue;
}


/*Toggle pour mettre en gras*/
.switch {
  position: relative;
  display: inline-block;
  width: fit-content; 
  margin-left: 20vw; 
  margin-top: 20px; 
}


.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 10%;
  right: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 20px;
  background-color: #ccc; /* Couleur de fond pour le toggle */
  border-radius: 20px; /* Pour un aspect arrondi */
  transition: background-color 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/*Toggle pour changer le cursor*/
.switch2 {
  position: relative;
  display: inline-block;
  width: fit-content; 
  margin-left: 20vw; 
  margin-top: 20px; 
}


.switch2 input { 
  opacity: 0;
  width: 0;
  height: 0;
}



